:root {
  --morado: #9b59b6;
  --blanco: #ffff;
  --negro: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Monserrat';
 
}

.darkMode {
  background-color:var(--negro);
  color: var(--blanco);
}

.lightMode {
  background-color: var(--blanco);
  color:var(--morado);
}

.App {
  min-width: 200vh;
  min-height: 295vh; /* Asegura que el contenedor principal ocupe al menos el 100% de la altura de la ventana */
}
