.container {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 30px auto 0 auto;
  padding: 20px;
  background-color: #fff; /* Light mode background color */
  color: #3b3a3a; /* Light mode text color */
  transition: background-color 0.2s, color 0.3s;
  border: 1px solid #3b3a3a;
  box-shadow: 5px 5px 20px rgb(132, 132, 132);
  border-radius: 3px;
}

.darkMode *{
  color: white;
}

.darkMode {
  background-color: #3b3a3a; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
  border: 1px solid #e58c8a;
  box-shadow: 5px 5px 20px rgb(41, 39, 39);
}
  

.s-formedit  {
  border: none;
  padding: 0;
  margin: 0;
}
  .s-formedit fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .s-formedit label {
    display: block;
    margin-bottom: 5px;
  }
  
  .s-formedit h3 {
    display: block;
    margin-bottom: 10px;
  } 

  .s-formedit input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #fff;
    /*color: #fff;*/
    color: black;
    
  }

  .s-formedit .inputfile {
    display: none;
  }
  
  .s-formedit .buttonfile {
    margin: 0 auto;
    width: 50%;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 8px; /* Ajusta el espacio entre el campo de archivo y los demás elementos */
  }

  .s-formedit button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .s-formedit button:hover {
    background-color: #27ae60;
  }
  
  .s-formedit p {
    margin-top: -10px;
    font-size: 12px;
    color: red;
  }
  
  .s-formedit .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
  }
  
  .s-formedit .notification.show {
    display: block;
  }

 
  .s-formedit img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    text-align: center;
  }


  .s-formedit .close {
    margin-left: 340px;
    cursor: pointer;
  }