/* Profile.module.css */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .image-input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .user-details {
    margin-top: 10px;
  }
  
  .link-section {
    margin-top: 20px;
  }
  
  .link-section a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .link-section a:hover {
    background-color: #2980b9;
  }
  