.productCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 250px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.productCard:hover {
  transform: scale(1.05);
}

.productImage {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px; 
}

.productInfo {
  flex-grow: 1; 
  text-align: justify; 
}
