:root {
  --titulos: #9b59b6;
  --fondo: #FFFF;
  --borde: #ddd;
}

.product-card {
  width: calc(20% - 20px); 
  margin: 10px; 
  text-align: center;
  border: solid 3px var(--titulos);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.productList {
  display: flex;
  flex-wrap: nowrap;
  top: 30px;
  position: relative;
  left: 1%;
  right: 2%;
}

.titulo {
  position: relative;
  top: 150px;
  font-family: 'Montserrat';
  color: var(--titulos);
  justify-content: center;
  display: flex;
}
