:root {
  --titulos: #9b59b6;
  --fondo: #FFFF;
  --borde: #ddd;
}

.product-card {
  border: 1px solid var(--borde);
  width: calc(20% - 20px); 
  margin: 10px; 
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

/* ProductList.module.css */

.productList {
  display: flex;
  flex-wrap: nowrap;
}

.titulo {
  position: relative;
  top: 130px;
  font-family: 'Montserrat';
  color: var(--titulos);
}
