:root {
  --morado: #9b59b6;
  --blanco: #ffff;
  --negro: #000;
}

.container {
  height:100% !important; 
}

.filtersContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; 
    position: relative;
    top: 296px;
  }
.btn{
  background-color: var(--morado);
  color: var(--blanco);
  font-family: 'Monserrat';
  font-weight: 300;
  padding: auto;
}

  