:root {
  --input: #dcdcdc;
  --titulos: #9b59b6;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  height: 40px;
  left: 34%;
  position: relative;
}

.input {
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
  background-color: var(--input);
  border: var(--titulos);
  outline: none; /* Evitar el borde al hacer clic */
}

.search {
  background-color: transparent;
  border: none;
  color: var(--titulos);
  outline: none !important; /* Evitar el borde al hacer clic */
}



