/* En tu archivo SearchBar.module.css */
:root {
  --main-color:#fff;
  --second-color: #696D7D;
}
.container {
  display: flex;
  place-items: center;
  width: 100%;
  max-width: 600px;
}

.input {
  border: 1px solid var(--second-color);
  border-radius: 5px;
  margin: 0;
  font-size: 16px;
  height: 40px;
  margin-right: 10px;
}

.search {
  
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  padding: 10px;
}

.search:hover {
  background-color: #ffff;
}

.darkMode {
  color: #ecf0f1;
}

.darkMode .input {
  background-color: black;
  color: #ecf0f1;
}

.darkMode .search {
  background-color: #E58C8A;
  color: #fff;
}

.lightMode {
  background-color: var(--main-color);
  color: #333;
}

.lightMode .input {
  background-color: #fff;
  color: #333;
}

.lightMode .search {
  background-color: var(--second-color);
  color: #fff;
}
