/* Cart.module.css */

.container {
  max-width: 1000px;
  margin: 30px auto 0 auto;
  padding: 20px;
  background-color: #fff; /* Light mode background color */
  color: #3b3a3a; /* Light mode text color */
  transition: background-color 0.2s, color 0.3s;
  border: 1px solid #3b3a3a;
  box-shadow: 5px 5px 20px rgb(132, 132, 132);
  border-radius: 3px;
}

.darkMode {
  background-color: #3b3a3a; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
  border: 1px solid #e58c8a;
  box-shadow: 5px 5px 20px rgb(41, 39, 39);
}


.cart-items-header {
  color: #007bff; /* Heading color */
}

.clear-cart-button {
  margin-left: 80%;
  background-color: #fe5c5c;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
}

.cart-items-empty {
  color: #3b3a3a; /* Text color in light mode */
}

.darkMode .cart-items-empty {
  color: #fff; /* Text color in dark mode */
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #3b3a3a;
}

.darkMode .cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(132, 132, 132);
}

.cart-items-img {
  width: 120px; /* Adjust as needed */
  height: 120px; /* Adjust as needed */
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 3px;

}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  margin-bottom: 5px;
}

.cart-item-function {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.cart-item-function button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
  border-radius: 3px;
}

.cart-item-price {
  color: #3b3a3a; /* Text color in light mode */
  text-align: end;
}

.darkMode .cart-item-price {
  color: #fff; /* Text color in dark mode */
}

.stock {
  color: #888; /* Stock text color */
  text-align: end;
}

.cart-items-total-price-name {
  margin-top: 20px;
}

.cart-items-total-price {
  font-size: 18px;
  text-align: end;
}

.cart-items-complete-purchase  button{
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 82%;
  border-radius: 3px;
}

/* Add your other styles as needed */
