
:root{
  --morado:#9b59b6;
  --blanco: #FFFF;
  --morado-claro:#9370DB;
}

.selectcontainer {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  top: 140px;
  left: 7%;
}
select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color:var(--morado);
  min-width: 150px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s, transform 0.2s; 
}

select:hover {
  transform: translateY(-3px) rotateX(5deg); 
}

select:focus {
  outline: none;
}

.selectcontainer:hover .options {
  display: block;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color:var(--morado-claro);
  border: 1px solid #0f8804bf;
  padding: 5px;
  z-index: 1;
  transition: display 0.2s;
}

.option {
  padding: 5px;
  cursor: pointer;
}

.hovered .options {
  display: block;
}