/* Filters.module.css */

.selectcontainer {
    margin-bottom: 15px;
  }
  
  .selectcontainer select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .darkMode {
    background-color: #333;
    color: #fff;
  }
  
  .lightMode {
    background-color: #fff;
    color: #333;
  }
  