:root {
  --morado: #9b59b6;
  --blanco: #FFFF;
  --morado-claro: #9370DB;
  --gris: #ccc;
}

.selectcontainer {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  top: 560px;
  left: 17%;
}

.selectcontainer select {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

.selectcontainer select option {
  background-color: var(--morado);
  color: var(--blanco);
  border-radius: 0;
  font-family: 'Monserrat';
  font-weight: 400;
  cursor: pointer;
}

.darkMode select {
  color: var(--morado);
  background-color: var(--blanco);
  font-family: 'Monserrat';
  font-weight: 300;
  border-radius: 5px;
}

.darkMode select option {
  background-color: var(--blanco);
  color: var(--morado);
}

.lightMode select {
  background-color: var(--morado);
  color: var(--blanco);
  font-family: 'Monserrat';
  font-weight: 300;
}

