
.purchase-items {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .purchase-items-header {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .purchase-items-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .purchase-items-button:hover {
    background-color: #d63a26;
  }
  
  .purchase-items-empty {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
  }
  
  .purchase-items-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .purchase-items-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 8px;
  }
  
  .purchase-items-name h2 {
    font-size: 1.2rem;
    color: #333;
    margin: 0;
    max-width: 250px;
  }
  
  .purchase-items-date {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  

  
  .purchase-items-price {
    font-size: 1rem;
    color: #555;
    margin-left: auto;
  }
  
  .purchase-items-order {
    font-size: 1rem;
    color: #555;
    margin-left: auto;
  }

  .purchase-items-total-price-name {
    margin-top: 20px;
  }
  
 
  .purchase-items-total-price h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
  }
  
  .purchase-items-total-price button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .purchase-items-total-price button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .purchase-items-total-price button:hover:enabled {
    background-color: #0056b3;
  }
  