/* Agrega estilos generales para el modo oscuro */
:root.darkMode {
  --morado: #9b59b6;
  --blanco: #FFFFFF;
  --negro:  #000;
}

/* Estilos comunes para ambas versiones */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px auto 0 auto;
  gap: 0 5px;
  top: 600px;
}

.paginator {
  position: relative;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
  margin: 0 2px;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.2s ease all;
  color: var(--blanco);
  background: var(--morado);
  outline: none !important; 

  &:hover {
    background-color: var(--blanco);
    color: var(--morado);
    border: 1px solid var(--blanco);
  }
}

.button__selected {
  background: #FFFFFF; 
  color: var(--morado);
}

.paginator_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease all;
  color: var(--blanco);
  background: var(--morado);
  outline: none !important; 
  &:hover {
    background-color: var(--morado);
    color: var(--blanco);
    border: 1px solid var(--blanco);
  }
}

.darkMode .button {
  color: var(--morado);
  background: var(--blanco);
}

.darkMode .button__selected {
  background: var(--negro);
  border: none;
  color: var(--blanco);
}

.darkMode .paginator_buttons {
  color: var(--morado);
  background: var(--blanco);
  border: 1px solid var(--blanco);
}
