.productDetailsContainer {
  max-width: 800px;
  margin: 30px auto; /* Establece márgenes automáticos para centrar horizontalmente */
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error {
  color: #d9534f;
}

.backBtn {
  margin-bottom: 10px;
}

.backBtn button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.backBtn button:hover {
  background-color: #0056b3;
}
 .imageP{
  align-items: center;
  justify-content: center;
  
 }
.productImage {
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 8px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
}

.shopBtn {
  margin-top: 20px;
}

.addBtn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #45a049;
}

.productInfo {
  margin-top: 20px;
}

.price,
.colour {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.descriptionTextBox {
  margin-top: 20px;
  margin: 15px;
}

.descriptionText {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.customArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.customArrowLeft {
  left: -20px;
}

.customArrowRight {
  right: -20px;
}

.imageAdditional img {
  display: block;
  width: 200px; 
  height: 200px; 
  margin: 10px;
  object-fit: cover;
  flex-wrap: wrap;
  flex-direction: column;
}

.additionalImagesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre las imágenes */
}

.buybtn{
  background-color: #45a049;
}

