/* detail.module.css */
.productDetailsContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.productImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.productInfo {
  margin-bottom: 10px;
}

.error {
  color: red;
}
