
.container_from {
  width: 50%; /* Ajusta el ancho según tus necesidades */
  max-width: 400px; /* Establece un ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  top: 560px;
}
.darkMode {
  background-color: #333;
  color: #fff;
}

.lightMode {
  background-color: #fff;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.product-form label {
  margin-bottom: 10px;
}

.product-form input,
.product-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Evita que el padding afecte al ancho total */
}

.product-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.product-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.product-form span {
  color: red;
  font-size: 14px;
}

.product-form img {
  max-width: 100%;
  margin-bottom: 10px;
}

.product-form #button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 12px;
  cursor: pointer;
}

/* Otros estilos según sea necesario... */

