/* Contact.module.css */

.container {
  max-width: 600px;
  margin: 30px auto 0 auto;
  padding: 20px;
  background-color: #fff; /* Light mode background color */
  color: #3b3a3a; /* Light mode text color */
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #3b3a3a;
  box-shadow: 5px 5px 20px rgb(132, 132, 132);
  border-radius: 3px;
}

.darkMode {
  background-color: #3b3a3a; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
  border: 1px solid #e58c8a;
  box-shadow: 5px 5px 20px rgb(41, 39, 39);
}

.chau {
  color: #007bff; /* Heading color */
}

.formGroup {
  margin-bottom: 15px;

}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #3b3a3a; /* Default label text color */
}

.darkMode label {
  color: #fff; /* Dark mode label text color */
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 3px;
}

.btnE {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
}

.infoSection {
  margin-top: 20px;
}

.infoItem {
  margin-bottom: 15px;
}

/* Add your other styles as needed */
