:root{
  --titulos:#9b59b6;
  --fondo: #FFFF;
}


.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  z-index: 99;
  background-color:var(--fondo);
  display: flex;
  justify-content: space-between; /* Alinea los elementos en las esquinas */
  align-items: center; /* Centra verticalmente el contenido */
  padding: 0 40px; /* Añade relleno en los lados para mejorar la apariencia */
}

/* Estilo de la barra de navegación */
.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

/* Estilo de los enlaces no visitados */
nav u {
  text-decoration: none;
}

/* Estilo del título de la barra de navegación */
.nav__h1 {
  margin: 0;
  font-size: 3rem;
  text-decoration: none;
  color:var(--titulos);
  font-family:'Montserrat';
  font-weight: bold;
}

/* Estilo de la lista no ordenada de la barra de navegación */
.nav__ul {
  display: flex;
  position: relative;
  left: 85%;
}

/* Estilo de cada elemento de la lista de la barra de navegación */
.nav__ul li {
  color:var(--titulos);
  display: flex;
  align-items: center;
  list-style: none;
  height: 40px;
  margin-right: 5px;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  font-family:  Montserrat;
  font-weight: bold;
}