/* Hero.module.css */
.heroContainer {
  position: relative;
  height: 500px; /* Ajusta la altura según tus necesidades */
  max-width: 1500px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centra el contenedor horizontalmente */

  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden; /* Para asegurar que la imagen no se desborde del contenedor */
}

.heroText {
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%; /* Limita el ancho del texto para evitar que ocupe demasiado espacio */
}

.heroText h2 {
  margin: 0;
  color: #fff;
}

.heroContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Un overlay oscuro para mejorar la legibilidad del texto */
  z-index: -1;
}
